<aside class="best-seller">
    <div class="best-seller-header">
        <span class="color-white font-weight-700">Best Seller</span>
    </div>
    <div class="best-seller-content">
        <h5 class="font-weight-700">DriveSmart 61LMT-S North America</h5>
        <img class="best-seller-image card-img" 
             alt="best-seller-image"
             srcset="/images/Garmin-Nuvi---DriveSmart-61-NA-LMT-S-R-Garmin-DriveSmart-61LMT-S-North-America-img3_cropped.jpg 1x,
                     /images/Garmin-Nuvi---DriveSmart-61-NA-LMT-S-R-Garmin-DriveSmart-61LMT-S-North-America-img3_160x.jpg 2x"  />
        <p class="card-text">Starts from <span class="font-weight-600 color-green">$144.95</span></p>
    </div>
    <div class="best-seller-footer">
        <button class="btn btn-primary">SHOP NOW</button>
    </div>
</aside>
