<div class="paypal-brand color-paypal-dark-blue">
    <i class="fab fa-paypal fa-2x"></i>
    <div class="paypal-credit-wrapper">
        <div class="font-size-smaller font-weight-600"><span>Pay</span><span class="color-paypal-light-blue">pal</span></div>
        <div class="paypal-credit">CREDIT</div>
    </div>
</div>
