@model ProductDto 
<section class="content-section">
    <header class="content-section-header">
        <div class="items-per-page-wrapper">
            <span>Items Per Page:</span>
            <span class="items-per-page">12</span>
            <span><a href="#">36</a></span>
        </div>
        <div class="items-found-wrapper">
            <span class="number-items-found">37</span>
            <span>Items Found</span>
        </div>
        <div class="sort-wrapper">
            <span>Sort By: </span>
            <select><option>Featured Items</option></select>
        </div>
    </header>
    <section class="item-section">
        <section class="image-column">
            <header class="current-image">
                <img alt="current image" />
            </header>
            <div class="image-carousel">
                <img class="image" alt="image" />
                <img class="image" alt="image" />
                <img class="image" alt="image" />
                <img class="image" alt="image" />
            </div>
            <footer class="image-column-footer">
                <i class="fas fa-search"></i>
                <span>Click to View Larger</span>
            </footer>
        </section>
        <section class="item-description-column">
            @Html.Raw(@Model.Description)
        </section>
        <section class="item-sidebar-right">
            <aside class="popup-overlay">
                <div class="popup-content">
                    <div class="popup-header">Added to Cart</div>
                    <div class="popup-body">Thank you</div>
                    <div class="popup-close-button-container">
                        <button onclick="togglePopup()" class="btn btn-dark-orange" data-toggle="button" aria-pressed="false">Close</button>
                    </div>
                </div>
            </aside>
            <div>
                <a href="#">More Details</a>
                <div class="item-availability">
                    <span>Availability:</span>
                    <span class="in-stock">
                        @if (Model.QuantityInStock > 0)
                        {
                            <i class="fas fa-check"></i>
                            <span>In Stock</span>
                        }
                        else
                        {
                            <span>Backordered</span>
                        }
                    </span>
                </div>
            </div>
            <div>
                <i class="fas fa-box-open"></i>
                <span class="item-ships-free">Ships Free</span>
            </div>
            <div>
                <p class="retail-price">$@Model.RetailPrice</p>
                <p class="sale-price">$@Model.SalePrice</p>
                <button onclick="onAddtoCart()" type="button" class="btn btn-dark-orange" data-toggle="button" aria-pressed="false">
                    <i class="fas fa-shopping-cart"></i><span class="shopping-cart-button-text">Add to Cart</span>
                </button>
                <section class="paypal-column">
                    <partial name="_PaypalCredit" />
                    <a href="#">Pay over 12 months at 0% APR</a>
                    <p>Min purchase required</p>
                </section>
            </div>
        </section>
    </section>
</section>
