@model ProductDto 
<section class="content-section color-grey">
    <header class="content-section-header bg-color-grey-x-light">
        <div class="items-per-page-wrapper">
            <span>Items Per Page:</span>
            <span class="items-per-page">12</span>
            <span><a href="#">36</a></span>
        </div>
        <div class="items-found-wrapper">
            <span class="number-items-found">37</span>
            <span>Items Found</span>
        </div>
        <div class="sort-wrapper">
            <span>Sort By: </span>
            <select><option>Featured Items</option></select>
        </div>
    </header>
    <section class="item-section">
        <section class="image-column">
            @*<header>*@
                <img class="current-image"
                        alt="current image"
                        src="/images/Garmin-vivofit-jr.-2-Stretchy-BB-8-R-Gallery-img3_160x.jpg" />
            @*</header>*@
            <div class="image-carousel">
                <img class="img-thumbnail" src="~/images/Garmin-vivofit-jr.-2-Stretchy-BB-8-R-vivofit-Jr-2-Fitness-Watch-img3_2622e370-55d5-406b-bcbb-5a4902b42e57_160x.jpg" />
                <img class="img-thumbnail" src="~/images/Garmin-vivofit-jr.-2-Stretchy-BB-8-R-Gallery-img16_160x.jpg" />
                <img class="img-thumbnail" src="~/images/Garmin-vivofit-jr.-2-Stretchy-BB-8-R-Gallery-img17_160x.jpg" />
                <img class="img-thumbnail" src="~/images/Garmin-vivofit-jr.-2-Stretchy-BB-8-R-Gallery-img18_160x.jpg" />
            </div>
            <footer class="image-column-footer">
                <i class="fas fa-search"></i>
                <span>Click to View Larger</span>
            </footer>
        </section>
        <section class="item-description-column">
            @Html.Raw(@Model.Description)
        </section>
        <section class="item-sidebar-right">
            <div>
                <a href="#">More Details</a>
                <div class="color-black font-weight-600">
                    <span>Availability:</span>
                    <span class="color-green">
                        @if (Model.QuantityInStock > 0)
                        {
                            <i class="fas fa-check"></i>
                            <span>In Stock</span>
                        }
                        else
                        {
                            <span>Backordered</span>
                        }
                    </span>
                </div>
            </div>
            <div>
                <i class="fas fa-box-open color-dark-orange"></i>
                <span class="color-black font-weight-600">Ships Free</span>
            </div>
            <div>
                <p class="text-decoration-line-through">$@Model.RetailPrice</p>
                <p class="color-green font-weight-600">$@Model.SalePrice</p>
                <button onclick="onAddtoCart()" type="button" class="btn btn-dark-orange-gradient" data-toggle="button" aria-pressed="false">
                    <i class="fas fa-shopping-cart"></i><span class="shopping-cart-button-text">Add to Cart</span>
                </button>
                <section class="paypal-column">
                    <partial name="_PaypalCredit" />
                    <a href="#">Pay over 12 months at 0% APR</a>
                    <p>Min purchase required</p>
                </section>
            </div>
        </section>
    </section>
</section>
