.accordion .btn {
    display: block;
    width: 100%;
}

.accordion .card-header {
    padding: 0;
}

.accordion > .card {
    background-color: lightgray !important;
}

    .accordion > .card:first-of-type .card-header {
        background-color: #555;
    }

.background-color-orange {
    background-color: orange;
}

.best-seller {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-seller-content {
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #999 0, #eee 50%, #999 100%);
    background: linear-gradient(90deg, #999 0, #eee 50%, #999 100%);
    background: linear-gradient(180deg, #999 0, #eee 50%, #999 100%);
    background: linear-gradient(270deg, #999 0, #eee 50%, #999 100%);
    padding: 1rem;
}

    .best-seller-content .card-title {
        font-weight: 700;
    }

    .best-seller-footer .btn {
        margin-top: -.75rem;
        background-color: Highlight;
    }

.best-seller-header {
    margin-bottom: -.75rem;
    text-align: center;
    z-index: 10;
}

    .best-seller-header span {
        background-color: Highlight;
        color: white;
        padding: .5rem;
    }

.best-seller-image {
    display: block;
    border: 1px solid;
    height: 60px;
    width: 120px;
}

.best-seller-starting-price {
    font-weight: 600;
    color: green;
}

.btn-dark-orange {
    color: black;
    background: linear-gradient(to top, #ff8c00, #ffdfae);
    border: 1px solid #ccc;
}

.color-dark-red {
    color: darkred;
}

.color-blue {
    color: blue;
}

.color-dark-blue {
    color: darkblue;
}

.color-green {
    color: green;
}

.color-paypal-light-blue {
    color:#0694dc;
}

.color-paypal-dark-blue {
    color:#022368;
}

.color-white {
    color: white;
}

.container {
    padding: 0;
}

.content-section {
    flex: 0 0 100%;
    padding-top: 1rem;
}

.content-section-header {
    background-color: lightgray;
    border-radius: .25rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.current-image {
    height: 300px;
    width: 300px;
}

.fa-box-open {
    color: darkorange;
}

.features {
    margin-bottom: 0;
}

.font-size-smaller {
    font-size:smaller;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.free-same-day-shipping {
    font-style: italic;
    font-weight: 700;
}

.free-same-day-shipping-banner {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.free-same-day-shipping-limited-time {
    color: rgba(0,0,0,0.75);
    font-weight: 600;
    text-align: center;
}

.garmin-wrapper {
    font-size: x-large;
    font-weight: 800;
}

.garmin-wrapper a {
    color: black;
}

.header-bottom-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #aaa;
}

.holiday-season-sale-banner {
    background: linear-gradient(to right, #008b8b, #2bc0ec);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.holiday-sale-text {
    background-color: darkred;
    color: white;
    padding: .25rem;
}

#holidaySeasonSale {
    color: white;
    font-family: 'Tangerine', serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 1.2;
}

#holidaySeasonSaleUpTo75PctOff {
    font-family: 'BioRhyme', serif;
    text-shadow: 4px 4px 4px #fff;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.image-column {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 1rem;
    text-align: center;
}

.image-carousel {
    display: flex;
}

    .image-carousel .image {
        border: 1px solid;
        height: 80px;
        width: 50px;
    }

        .image-carousel .image:not(:last-child) {
            margin-right: 1rem;
        }

.in-stock {
    color: green;
}

.item-availability,
.item-ships-free {
    font-weight: 600;
}

.item-description-column {
    grid-column: 1/-1;
    padding: 1rem;
}

    .item-description-column ul {
        padding-left: 1rem;
    }

.item-return-policy {
    display: table;
    margin: 0 auto .5rem 0;
    padding-left: .5rem;
    background-color: darkgray;
    border-radius: 1rem;
}

.item-section {
    border: 1px solid #aaa;
    border-radius: .25rem;
    border-top: 3px solid blue;
    margin-top: .5rem;
    display: grid;
    grid-template-columns: 1fr;
}

.item-sidebar-right {
    grid-column: 1/-1;
    padding: 1rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-per-page-wrapper {
    border-right: 1px solid #aaa;
}

    .items-per-page-wrapper span {
        padding: 1rem;
    }

.main {
    display: flex;
    flex-direction: column;
}

.navbar {
    background: linear-gradient(0deg, #444 0, #777 40%, #999 60%, #aaa 100%);
    justify-content: space-between;
    align-content: center;
    padding: 0 1rem;
}

.navbar-brand-tagline {
    font-size: x-small;
}

.navbar-dark .navbar-brand {
    padding: 0;
    color: #ccc;
}

.navbar-brand .navbar-brand-outlet {
    color: white;
    font-weight: 700;
}

.navbar-dark .navbar-brand-tagline,
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-content {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-column-gap: .5rem;
}

    .navbar-content .navbar-collapse {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .navbar-content .navbar-free-shipping {
        border: 1px solid;
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #333;
        color: #fff
    }

    .navbar-content .navbar-toggler {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .navbar-content .shopping-card-summary {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: #fff
    }

.navbar-free-shipping,
.shopping-card-summary {
    align-self: center;
    margin-top: 0;
    padding: 0 .5rem;
}

.navbar-free-shipping-text {
    color: #aaa;
}

.order-by-phone {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
    grid-gap: .5rem;
    color: gray;
}

    .order-by-phone p {
        margin-bottom: 0;
    }

.order-by-phone-column-1 {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: self-start;
    margin-top: .5rem;
}

.order-by-phone-column-2 {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.order-by-phone-text {
    color: black;
    font-weight: 700;
}

.paypal-brand {
    display: flex;
    align-items: center;
    color: #022368; /*color-paypal-dark-blue*/
}

.paypal-column {
    margin-top: 1rem;
}

.paypal-column p {
    margin-bottom: 0;
}

.paypal-column a {
    text-decoration: underline;
}

.paypal-credit {
    font-size: 1.2rem;
    font-weight: 800;
}

.paypal-credit-wrapper {
    padding: 0 .5rem;
}

.paypal-fine-print {
    display: flex;
}

    .paypal-fine-print a {
        text-decoration: underline;
    }

    .paypal-fine-print p {
        padding: 0 1rem;
    }

.paypal-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    border: 1px solid #0694dc; 
    color: #0694dc; /*color-paypal-light-blue*/
}

    .paypal-row p {
        margin-bottom: 0;
    }

.paypal-terms {
    padding: 0 1rem;
    font-weight: 800;
}

.paypal-terms-container {
    display: flex;
    align-items: center;
    /*grid-gap: 1rem; DEVNOTE: grid-gap does not currently work in Chrome or Edge browsers*/
}

.popup-overlay { 
    visibility: hidden; /*Hides pop-up when there is no "active" class*/
    position: absolute;
    border: 3px solid #777;
    border-radius: .25rem;
    width: 75%;
    height: 16rem;
    left: 12.5%;
    background: linear-gradient(to top, #2bc0ec, #1b81d7);
}

    .popup-overlay.active {
        visibility: visible; /*displays pop-up when "active" class is present*/
        text-align: center;
        z-index: 100;
    }

    .popup-overlay popup-close-button-container {
        flex: 0 0 10rem;
    }


.popup-content {
    visibility: hidden; /*Hides pop-up content when there is no "active" class */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .popup-content.active {
        visibility: visible; /*Shows pop-up content when "active" class is present */
        z-index: 101;
    }

.popup-header {
    background: linear-gradient(to top, #333, #aaa);
    height: 5rem;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem;
}

.popup-body {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
}

.retail-price {
    text-decoration: line-through;
}

.sale-price {
    color: green;
    font-weight: 600;
}

.search-box {
    background-color: lightgray;
    border-radius: .25rem;
    margin: .5rem;
    padding: .25rem;
}

.search-button {
    flex: 0 1 auto;
    color: white;
}

.search-button-text {
    padding-right: .25rem;
}

.search-box {
    background: linear-gradient(to top, #ccc, #fff);
    border: 1px solid #ccc;
}

.search-box-form {
    display: flex;
    justify-content: stretch;
}

.search-input {
    border: 1px solid #ccc;
    color: black !important;
    flex: 0 1 auto;
}

.side-bar {
    flex: 0 0 100%;
}

.shopping-cart-button-text {
    padding-left: .25rem;
}

.shopping-cart-item-count {
    padding-left: .5rem;
}

@media only screen and (min-width: 768px) {

    .header-bottom-row {
        flex-direction: row;
        padding: .25rem 1rem;
    }

    .image-column {
        grid-column: 1/-1;
        margin-bottom: 1rem;
    }

    .item-description-column {
        grid-column: 1/2;
    }

    .item-section {
        grid-template-columns: 1fr 1fr;
    }

    .item-sidebar-right {
        grid-column: 2/3;
    }

    .navbar-content {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr 1fr;
    }

        .navbar-content .navbar-collapse {
            grid-column: 1/-1;
            grid-row: 2/3;
            padding: 0 .5rem;
        }

        .navbar-content .navbar-free-shipping {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .navbar-content .navbar-toggler {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .navbar-content .shopping-card-summary {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .navbar-content .navbar-collapse .nav-link:after {
            content: "|";
            padding-left: 1rem;
        }

        .navbar-content .navbar-collapse #login {
            padding-right: 0;
        }

            .navbar-content .navbar-collapse #login.nav-link:after {
                content: "/";
                padding-left: .2rem;
            }

        .navbar-content .navbar-collapse #register {
            padding-left: .2rem;
        }

            .navbar-content .navbar-collapse #register.nav-link:after {
                content: "";
                padding-left: 0;
            }

    .navbar-free-shipping,
    .shopping-card-summary {
        margin-top: 1rem;
    }

    .paypal-row {
        justify-content: space-evenly;
    }

    .popup-overlay {
        width: 20rem;
        height: 15rem;
        left: 50vw;
    }

    .search-box {
        margin: 0;
    }
}

@media only screen and (min-width: 992px) {

    .accordion .btn {
        width: auto;
    }

    .container {
        padding: 0 1rem;
    }

    .content-section {
        flex: 1 1 80%;
        padding: 1rem;
    }

    .content-section-header {
        flex-direction: row;
    }

    .free-same-day-shipping-banner {
        margin-top: 0;
    }

    .image-column {
        grid-column: 1/2;
    }

    .item-description-column {
        grid-column: 2/3;
    }

    .item-section {
        grid-template-columns: repeat(3, minmax(min-content, max-content));
    }

    .item-sidebar-right {
        grid-column: 3/4;
    }

    .item-section {
        flex-direction: row;
    }

    .main {
        flex-direction: row;
        margin-bottom: 1rem;
    }

    .navbar-brand-tagline {
        margin-bottom: .3rem;
    }

    .navbar-content {
        grid-template-columns: repeat(4, max-content);
        grid-template-rows: 1fr;
    }

        .navbar-content .navbar-collapse {
            grid-column: 2/3;
            grid-row: 1/-1;
            padding: 0 .5rem;
        }

        .navbar-content .navbar-free-shipping {
            grid-column: 1/2;
            grid-row: 1/-1;
        }

        .navbar-content .navbar-toggler {
            grid-column: 4/-1;
            grid-row: 1/-1;
        }

        .navbar-content .shopping-card-summary {
            grid-column: 3/4;
            grid-row: 1/-1;
        }

    .navbar-free-shipping,
    .shopping-card-summary {
        margin-top: 0;
    }

    .paypal-row {
        justify-content: space-between;
        padding: .5rem 2rem;
    }

    .popup-overlay {
        left: 60vw;
    }

    .side-bar {
        flex: 1 1 20%;
    }
}

@media only screen and (min-width: 3840px) {

    .popup-overlay {
        left: 55vw;
    }
}

@media only screen and (min-width: 1280px) and (min-height: 720px) {

    .popup-overlay {
        top: 60vh;
    }
}

@media only screen and (min-width: 992px) and (min-height: 1080px) {

    .popup-overlay {
        top: 40vh;
    }
}

@media only screen and (min-height: 2160px) {

    .popup-overlay {
        top: 20vh;
    }
}

