/* custom styles */
.nav-link {
    text-decoration: none;
}

.accordion .btn {
    display: block;
    width: 100%;
}

.accordion .btn-link {
    color: #333;
    font-weight: 600;
}

.accordion > .card h2 {
    display: inline-block;
}

    .accordion > .card:first-of-type .card-header {
        background-color: #777;
    }

.accordion .card-header {
    padding: 0;
}

.best-seller {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-seller-content {
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: radial-gradient(#f7f7f7, #999);
    padding: 1.25rem;
}

.best-seller-footer .btn {
    margin-top: -2rem;
    padding: .3rem .5rem;
}

.best-seller-footer .btn,
.best-seller-header {
    background: #4a76a9
}

.best-seller-header {
    margin-bottom: -1.2rem;
    padding: .3rem;
    text-align: center;
    z-index: 10;
    border-radius: .5rem;
}

.best-seller-image {
    height: auto;
    max-width: 100%;
}

.container {
    padding: 0;
}

.content-section {
    flex: 0 0 100%;
}

.content-section-header {
    border-radius: .25rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.features {
    margin-bottom: 0;
}

.free-same-day-shipping {
    font-style: italic;
    font-weight: 700;
}

.free-same-day-shipping-banner {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.free-same-day-shipping-limited-time {
    color: rgba(0,0,0,0.75);
    font-weight: 600;
    text-align: center;
}

.header-bottom-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #aaa;
}

.holiday-sale-text {
    background-color: darkred;
    border-radius: .25rem;
    color: white;
    padding: .25rem;
}

.holiday-season-sale-banner {
    background: linear-gradient(to right, #008b8b, #2bc0ec);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

#holidaySeasonSale {
    color: white;
    font-family: 'Tangerine', serif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 1.2;
}

#holidaySeasonSaleUpTo75PctOff {
    font-family: 'BioRhyme', serif;
    text-shadow: 4px 4px 4px #fff;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.image-column {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    text-align: center;
}

    .image-column .current-image {
        margin-top: 1rem;
        height: auto;
        max-width: 100%;
    }

    .image-carousel {
        display: flex;
    }

    .image-carousel .image {
        border: 1px solid;
    }

        .image-carousel .image:not(:last-child) {
            margin-right: .5rem;
        }

.item-description-column {
    grid-column: 1/-1;
    padding: 1rem;
}

    .item-description-column ul {
        padding-left: 1rem;
    }

    .item-description-column h2 {
        font-size: 1rem;
    }

    .item-return-policy {
        display: inline-block;
        margin: 0 auto .5rem 0;
        padding-left: .5rem;
        border-radius: .75rem;
    }

    .item-return-policy .badge-pill {
        line-height: inherit;
        padding-left: .6rem;
        padding-right: .6rem;
        margin-right: 1px;
        margin-bottom: 1px;
    }

.item-section {
    border: 1px solid #aaa;
    border-radius: .25rem;
    border-top: 3px solid blue;
    margin-top: .5rem;
    display: grid;
    grid-template-columns: 1fr;
}

.item-sidebar-right {
    grid-column: 1/-1;
    padding: 1rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-per-page-wrapper {
    border-right: 1px solid #aaa;
}

    .items-per-page-wrapper span {
        padding: 1rem;
    }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background: linear-gradient(0deg, #777 0, #777 50%, #999 75%, #aaa 100%);
    justify-content: space-between;
    align-content: center;
    padding: 0 1rem;
}

.navbar-content {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-column-gap: .5rem;
}

    .navbar-content .navbar-collapse {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .navbar-content .navbar-free-shipping {
        border: 1px solid;
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #333;
        color: #fff
    }

    .navbar-content .navbar-toggler {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .navbar-content .shopping-card-summary {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: #fff
    }

.navbar-dark .navbar-brand {
    padding: 0;
    color: #ddd;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-free-shipping,
.shopping-card-summary {
    align-self: center;
    margin-top: 0;
    padding: 0 .5rem;
}

.navbar-free-shipping-text {
    color: #ccc;
}

.order-by-phone {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
    grid-gap: .5rem;
}

    .order-by-phone p {
        margin-bottom: 0;
    }

.order-by-phone-column-1 {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: self-start;
    margin-top: .5rem;
}

.order-by-phone-column-2 {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
}

.paypal-brand {
    display: flex;
    align-items: center;
}

.paypal-column {
    margin-top: 1rem;
}

.paypal-column p {
    margin-bottom: 0;
}

.paypal-credit {
    font-size: 1.2rem;
    font-weight: 700;
}

.paypal-credit-wrapper {
    padding: 0 .5rem;
    font-style: italic;
}

.paypal-fine-print {
    display: flex;
}

    .paypal-fine-print p {
        padding: 0 1rem;
    }

.paypal-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    border: 1px solid #0694dc;
}

    .paypal-row p {
        margin-bottom: 0;
    }

.paypal-terms {
    padding: 0 1rem;
    font-weight: 600;
}

.paypal-terms-container {
    display: flex;
    align-items: center;
    /*grid-gap: 1rem; DEVNOTE: grid-gap does not currently work in Chrome or Edge browsers*/
}

.popup-overlay { 
    visibility: hidden; /*Hides pop-up when there is no "active" class*/
    position: absolute;
    border: 3px solid #777;
    border-radius: .25rem;
    width: 75%;
    height: 16rem;
    left: 12.5%;
    background: linear-gradient(to top, #2bc0ec, #1b81d7);
    color: #ccc;
}

    .popup-overlay.active {
        visibility: visible; /*displays pop-up when "active" class is present*/
        text-align: center;
        z-index: 100;
    }

    .popup-overlay popup-close-button-container {
        flex: 0 0 10rem;
    }

.popup-content {
    visibility: hidden; /*Hides pop-up content when there is no "active" class */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .popup-content.active {
        visibility: visible; /*Shows pop-up content when "active" class is present */
        z-index: 101;
    }

.popup-header {
    background: linear-gradient(to top, #333, #aaa);
    height: 5rem;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem;
}

.popup-body {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
}

.search-box {
    background-color: #fafafa;
    border-radius: .25rem;
    margin: .5rem;
    padding: .25rem;
}

.search-button {
    flex: 0 1 auto;
}

.search-button-text {
    padding-right: .25rem;
}

.search-box {
    background: linear-gradient(to top, #ccc, #fff);
    border: 1px solid #ccc;
}

.search-box-form {
    display: flex;
    justify-content: stretch;
}

.search-input {
    border: 1px solid #ccc;
    flex: 0 1 auto;
    padding: .5rem;
}

.side-bar {
    flex: 0 0 100%;
    text-align: center;
}

    .shopping-cart-button-text {
        padding-left: .25rem;
    }

.shopping-cart-item-count {
    padding-left: .5rem;
}

@media only screen and (min-width: 768px) {

    .header-bottom-row {
        flex-direction: row;
        padding: .25rem 1rem;
    }

    .image-column {
        grid-column: 1/-1;
        margin-bottom: 1rem;
    }

    .item-description-column {
        grid-column: 1/2;
    }

    .item-section {
        grid-template-columns: 1fr 1fr;
    }

    .item-sidebar-right {
        grid-column: 2/3;
    }

    .navbar-brand {
        margin-bottom: .5rem;
    }

    .navbar-content {
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: 1fr 1fr;
    }

        .navbar-content .navbar-collapse {
            grid-column: 1/-1;
            grid-row: 2/3;
            padding: 0 .5rem;
        }

        .navbar-content .navbar-free-shipping {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .navbar-content .navbar-toggler {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .navbar-content .shopping-card-summary {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        .navbar-content .navbar-collapse .nav-link:after {
            content: "|";
            padding-left: 1rem;
        }

        .navbar-content .navbar-collapse #login {
            padding-right: 0;
        }

            .navbar-content .navbar-collapse #login.nav-link:after {
                content: "/";
                padding-left: .2rem;
            }

        .navbar-content .navbar-collapse #register {
            padding-left: .2rem;
        }

            .navbar-content .navbar-collapse #register.nav-link:after {
                content: "";
                padding-left: 0;
            }

    .navbar-free-shipping,
    .shopping-card-summary {
        margin-top: 1rem;
    }

    .paypal-row {
        justify-content: center;
    }

    .popup-overlay {
        width: 20rem;
        height: 15rem;
        left: 50vw;
    }

    .search-box {
        margin: 0;
    }

    .side-bar {
        width: 60%;
    }

}

@media only screen and (min-width: 992px) {

    .best-seller {
        margin: 1rem 0;
    }
    .container {
        padding: 0 1rem;
    }

    .content-section {
        flex: 0 1 80%;
        padding: 1rem;
    }

    .content-section-header {
        flex-direction: row;
    }

    .free-same-day-shipping-banner {
        margin-top: 0;
    }

    .image-column {
        grid-column: 1/2;
    }

    .image-column .current-image {
        max-width: 100%;
    }

        .image-carousel .image {
            max-width: 24%;
        }

            .image-carousel .image:not(:last-child) {
                margin-right: 1rem;
            }

    .item-description-column {
        grid-column: 2/3;
    }

    .item-section {
        grid-template-columns: repeat(2, minmax(38%, max-content)) minmax(24%, max-content);
    }

    .item-sidebar-right {
        grid-column: 3/4;
    }

    .main {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .navbar-brand-tagline {
        margin-bottom: .3rem;
    }

    .navbar-content {
        grid-template-columns: repeat(4, max-content);
        grid-template-rows: 1fr;
    }

        .navbar-content .navbar-collapse {
            grid-column: 2/3;
            grid-row: 1/-1;
            padding: 0 .5rem;
        }

        .navbar-content .navbar-free-shipping {
            grid-column: 1/2;
            grid-row: 1/-1;
        }

        .navbar-content .navbar-toggler {
            grid-column: 4/-1;
            grid-row: 1/-1;
        }

        .navbar-content .shopping-card-summary {
            grid-column: 3/4;
            grid-row: 1/-1;
        }

    .navbar-free-shipping,
    .shopping-card-summary {
        margin-top: 0;
    }

    .paypal-row {
        justify-content: space-between;
        padding: .5rem 2rem;
    }

    .popup-overlay {
        left: 60vw;
    }

    .side-bar {
        flex: 0 1 20%;
        text-align: left;
    }
}

@media only screen and (min-width: 3840px) {

    .popup-overlay {
        left: 55vw;
    }
}

@media only screen and (min-height: 720px) and (min-width: 1280px) {

    .popup-overlay {
        top: 60vh;
    }
}

@media only screen and (min-height: 1080px) and (min-width: 992px) {

    .popup-overlay {
        top: 40vh;
    }
}

@media only screen and (min-height: 2160px) {

    .popup-overlay {
        top: 20vh;
    }
}

/* html elements */
a {
    text-decoration: underline;
}

/* utility classes */
.bg-color-orange {
    background-color: orange;
}

.bg-color-grey-x-light {
    background-color: #f1f1f1;
}

.btn-dark-orange-gradient {
    background: linear-gradient(to top, #ff8c00, #ffdfae);
    border: 1px solid #ccc;
    color: black;
}

.color-black {
    color: #0a0a0a
}

.color-dark-orange {
    color: darkorange;
}

.color-dark-red {
    color: darkred;
}

.color-blue {
    color: #00f;
}

.color-dark-blue {
    color: darkblue;
}

.color-green {
    color: green;
}

.color-grey {
    color: grey;
}

.color-paypal-light-blue {
    color: #0694dc;
}

.color-paypal-dark-blue {
    color: #022368;
}

.color-red-muted {
    color: rgba(255,0,0,.7);
}

.color-white {
    color: #fff;
}

.font-size-smaller {
    font-size: smaller;
}

.font-size-x-large {
    font-size: x-large;
}

.font-size-x-small {
    font-size: x-small;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-line-through {
    text-decoration: line-through;
}
